/* contact-card.component.css */
.example-header-image {
    background-image: url('https://via.placeholder.com/50');
    background-size: cover;
  }
  .container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  }
  .contact-card {
    min-width: 400px;
    max-width: 500px;
    margin: 20px;
  }
  